
<div class="resultsBg">	
		
		<br/>
				
		<!--<input placeholder="item" type="text" ng-model="keyword"/>-->
		<!--<button data-ng-click="searchPhotos()">Search</button>-->
		<!--<h5 ng-cloak>Item Searched: {{ keyword }}</h5>-->
	
		<h4>All Your Jot-It-Down Lists:</h4>
	
		<ul>
			<li data-ng-repeat="searchTitles in ListStorage"><a ng-href="#/list/{{searchTitles.title}}"><!--| filter: search | orderBy: 'title'-->
			{{searchTitles.title}}
			</a></li>
		</ul>
			
	<br/>
	<br/>
	<footer><p>Jot-It-Down &copy; | MDD1312 | Lea DiGiannurio |<a href="terms.html"> Terms</a> </p></footer>
		
</div>