<!--each list with its tasks. also can add new task to the list-->

<div class="resultsBg">
	
	<h4>Your '{{ListStorage[listId].title}}' List:</h4>
	
	
	<span>Click on a task to complete it.</span>
	
		
	<div class="list-group">
	  <a ng-repeat="task in ListStorage[listId].toDos" ng-click="toggleTask($index)" class="list-group-item">{{task}}</a>
	</div>


	<form role="form" ng-submit="addTask()"> 
		
		<div class="form-group">
			<label>Task:</label>
			<input placeholder="New Task" class="form-control" type="text" ng-model="newTask"/>
		</div>

		<button type="submit" class="btn btn-default">Add</button>		
	
	</form>
	
	<a ng-href="#/allLists" class="btn btn-default" role="button">Back</a>
	
	<button type="submit" ng-click="deleteList()" class="btn btn-default">Delete whole list</button>
	
	<br/>
	<br/>
	<footer><p>Jot-It-Down &copy; | MDD1312 | Lea DiGiannurio |<a ng-href="#/terms"> Terms</a> </p></footer>

</div>