<!--Login in page-->


<div class="resultsBg">
		
	<h4>Login:</h4>
		
	<form ng-submit="">	
		<div class="form-group"><!-- or class="input-group"?-->
			
			<input type="text" class="form-control" placeholder="Username">

			<input type="text" class="form-control" placeholder="Password">

		</div>
	
		<button type="submit" class="btn btn-default">Login</button>
		
	</form>
	
	<br/>
	<br/>
	<footer><p>Jot-It-Down &copy; | MDD1312 | Lea DiGiannurio |<a ng-href="#/terms"> Terms</a> </p></footer>

</div><!--resultsBg-->	
