<!--Sign up to become a member page-->
  
	<div class="resultsBg">
		<div class="login">
			<p>Please fill out all fields to become a member.</p>
		
			<form method="post" action="index.html">
				<p><input type="text" name="firstname" value="" placeholder="First Name"></p>
				<p><input type="text" name="lastname" value="" placeholder="Last Name"></p>
				<p><input type="text" name="login" value="" placeholder="Username"></p>
				<p><input type="password" name="password" value="" placeholder="Password"></p>
				<p><input type="text" name="email" value="" placeholder="email"></p>
				<p class="submit"><input type="submit" name="commit" value="Join!"></p>
			</form>
		</div><!--login-->
		
		<div class="input-group">
			<span class="input-group-addon">First</span>
			<input type="text" class="form-control" placeholder="">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Last</span>
			<input type="text" class="form-control" placeholder="">
		</div>
		<div class="input-group">
			<span class="input-group-addon">User</span>
			<input type="text" class="form-control" placeholder="">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Pass</span>
			<input type="text" class="form-control" placeholder="">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Email</span>
			<input type="text" class="form-control" placeholder="">
		</div>
		
	<br/>
	<br/>
	<footer><p>Jot-It-Down &copy; | MDD1312 | Lea DiGiannurio |<a ng-href="#/terms"> Terms</a> </p></footer>
	
	</div><!--resultsBg-->	
