<!--Sign up to become a member page-->
  
<div class="resultsBg">
		
	<h4>Please fill out all fields to become a member.</h3>

	<form ng-submit="">	
		<div class="form-group"> <!--or  class="input-group"?-->
			<input type="text" class="form-control" placeholder="First Name">
		
			<input type="text" class="form-control" placeholder="Last Name">
		
			<input type="text" class="form-control" placeholder="Username">
		
			<input type="text" class="form-control" placeholder="Password">
		
			<input type="text" class="form-control" placeholder="Email">
		</div>
		
		
		<button type="submit" class="btn btn-default">Join</button>
	</form>
		
	<br/>
	<br/>
	<footer><p>Jot-It-Down &copy; | MDD1312 | Lea DiGiannurio |<a ng-href="#/terms"> Terms</a> </p></footer>
	
</div><!--resultsBg-->	
