/*================ CSS ================ */

body {
	background-image: url("../images/bg.png");
	font-family: tahoma, arial-narrow, arial;
	color: #2e799f;
}

h1, h2 {
	color:#dba028;
}

p {
text-indent: 20px;
}

.logoBanner{
	background-color: #2e799f;
	height: 66px;
}

.resultsBg {
	background-color: #FFF;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-top: 30px;
	box-shadow: 2px 2px 2px #b6c0c5;
}

.pgLinks{
	background-color: #2e799f;
	/*text-align: right;*/
	padding: 15px 10px 10px 10px;
	text-decoration: none;
}

.pgLinks a:link {
	color: #ffffff;
	text-decoration: none
}
.pgLinks a:visited {
	color: #dba028; 
	text-decoration: none;
}
.pgLinks a:hover, a:active {
	color: #dba028; 
	text-decoration: none;
}

.button{
font-family: tahoma, arial-narrow, arial;
width: 100px;
color: #ffffff;
background-color:#dba028;
-moz-border-radius: 3px;
-webkit-border-radius:3px;
-khtml-border-radius: 3px;
border-radius: 3px;
}

.login {

}

footer p {
font-size: 10px;
}


footer p a:link, a:visited {
	color: #dba028;
	text-decoration: none;
}

footer p a:hover, a:active {
	color: #dba028; 
	text-decoration: none;
}

