/*
Orange Color: #dba028
Blue Color: #2e799f

*/
/*================ CSS ================ */

body {
	background-image: url("../images/bg.png");
	font-family: tahoma, arial-narrow, arial;
	color: #2e799f;
}

h1, h2, h4{
	color:#dba028;
}

p {
text-indent: 20px;
}
span {
color:#dba028;
}

.logoBanner{
	background-color: #2e799f;
	height: 66px;
}

.resultsBg {
	background-color: #FFF;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-top: 30px;
	box-shadow: 2px 2px 2px #b6c0c5;
}

.pgLinks{
	background-color: #2e799f;
	/*text-align: right;*/
	padding: 15px 10px 10px 10px;
	text-decoration: none;
}

.pgLinks a:link {
	color: #ffffff;
	text-decoration: none
}
.pgLinks a:visited {
	color: #dba028; 
	text-decoration: none;
}
.pgLinks a:hover, a:active {
	color: #dba028; 
	text-decoration: none;
}

.eachItem li {
list-style-type: none;
}


.userLinks {
font-size: 130%;
text-align: center;
}



.tag-input-ctn {
border: 1px solid #ccc;
padding: 2px 3px;
display: inline-block;
width: 400px;
border-radius: 3px;
box-shadow: insert 0px 1px 1px rgba(0,0,0,0.075);
}

.tag-input-ctn input {
display:inline-block;
float: left;
height: 18px;
padding: 0px;
font-size: 12px;
line-height: 18px;
color: black;
border: 0px;
margin:2px;
}

.tag-input-ctn input:focus {
outline:0;
box-shadow: 0px;

}

.tag-input-ctn .input-tag {
padding: 2px 4px;
line-height: 12px;
font-size: 11px;
background-color: #e3eaf6;
display: inline-block;
float: left;
border-radius: 2px;
margin: 2px 5p 2px 0px;
}

.tag-input-ctn .input-tag .delete-tag {
display: inline-block;
font-size: 12px;
cursor: pointer;
padding: 0px 2px;
}

.tag-input-ctn .input-tag .delete-tag:hover {
background-color: #96b4d2;
}



footer p {
text-align: center;
font-size: 70%;
}


footer p a:link, a:visited {
	color: #dba028;
	text-decoration: none;
}

footer p a:hover, a:active {
	color: #dba028; 
	text-decoration: none;
}

